@use "./styles/variables";

.form {
  max-width: 47rem;
  display: flex;
  gap: 0.5rem;
  padding-inline: 1rem;
  margin: -1.75rem auto 0;
}

.form > input[type="text"] {
  width: 100%;
  height: 3.375rem;
  padding-left: 1rem;

  font-size: 1rem;
  line-height: 140%;
  background-color: variables.$secondary-color;
  color: variables.$text-color;
  border: 1px solid variables.$border-color;
  border-radius: 8px;
  flex: 1;
}

.form > button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;

  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 140%;

  background-color: variables.$primary-color;
  color: variables.$text-color;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.changeAllTasks {
  width: 100%;
  position: sticky;
  bottom: 0;
  text-align: center;
  padding-bottom: 1rem;
}

.changeAllTasks > button {
  padding: 0.75rem;
  background-color: variables.$primary-color;
  color: variables.$text-color;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
