/* ====== VARIABLES ====== */
$primary-color: #ffcc33;
$bg-color: #1f1d20;
$header-color: #121113;
$border-color: #0b0a09;
$alt-border-color: #38332e;
$text-color: #f5f5f5;
$alt-text-color: #7b7065;

/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: $text-color;
}
