/* ====== VARIABLES ====== */
$bg-color: #121113;
$color: #ffd046;
$text-color: #f5f5f5;
$alt-text-color: #d0ccc8;

/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: $text-color;
}
