@use "./styles/variables";

/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$bg-color;
  color: variables.$text-color;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
}
